<h1>This chat be lit</h1>

<div class='chat-container'>
  <%= react_component('ReactChat', current_user: current_user.email) %>
  <%= react_component('MessagesSender', current_user: current_user.id) %>
</div>
