<h1>This chat be lit</h1>

<div class='chat-position'>
  <h6 class='limiter' id='clicky-button'>Chat collapse or expand</h6>
  <div class='chat-container' id='collapse-me'>
    <%= react_component('ReactChat') %>
    <%= react_component('MessagesSender') %>
  </div>
</div>
